<ion-header>
  <ion-toolbar>
    <ion-title>
    Barcode Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content ion-padding>
  <h3>Click Button To Scan</h3>
 
  <ion-button (click)="scanCode()">
    Scan Code
  </ion-button>
 
  <div *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p>
  </div>
 
  <h3>Enter Value to Create QR code</h3>
  <ion-input type="text" [(ngModel)]="encodedData"></ion-input>
 
  <ion-button (click)="encodedText()">
    Create QR
  </ion-button>
</ion-content>